{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}
{% set contactClass = services.customer.getContactClassId() %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row m-t-3">
                <div class="col-md-7 single-leftside">
                    <div class="row">
                        <div class="col-xs-12">
                            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
                            <div class="ueberschriftGallerie">
                              <span v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 25">Videos</span>
                            </div>
                            <div v-for="(property, index) in currentVariation.properties" v-if="property.group.id == 10" class="videoGallerySingle" >
                                <a v-bind:href="'https://www.youtube.com/watch?v='+property.texts.value" data-lity>
                                  <img :src="'https://img.youtube.com/vi/'+property.texts.value+'/mqdefault.jpg'">
                                  <div class="overlayVideoGallery">Video ansehen</div>
                                </a>

                                <div id="inline" style="background:#fff" class="lity-hide">
                                Inline content
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <!-- ITEM DETAIL -->
                <div class="col-md-5 single-rightside m-t-1">
                    <div class="producertag h6 producer text-muted" v-if="currentVariation.filter.hasManufacturer">
                        ${ currentVariation.item.manufacturer.externalName }
                    </div>

                    <h1 class="h2 title">
                        <span>
                            ${ currentVariation | itemName }
                        </span>
                    </h1>

                    {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
                        <p class="single-description" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
                    {% endif %}

                    <hr>

                    <div class="m-b-3">
                        <span class="articlenumber small text-muted">
                            <b>{{ trans("Ceres::Template.singleItemNumber") }}</b>
                            <span>${ currentVariation.variation.number }</span>

                            {% if contactClass == 2 %}

                            <span v-if="currentVariation.stock.net !== 0" class="verfuegbare_menge"> Noch <b>${ currentVariation.stock.net } verfügbar</b></span>

                            {% endif %}

                        </span>

                    </div>

                    <!-- Variation -->
                    <div class="row m-b-1" v-if="variations.length > 0">
                        <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variation-units="variationUnits" :variations="variations" :preselect="currentVariation.variation.id" :unitPreselect="currentVariation.variation.unitCombinationId" @is-valid-change="isVariationSelected = $event"></variation-select>
                    </div>
                    <!-- /Variation -->

                    <!-- Item Bundle -->
                      <!--
                      <a class="SetInhaltUeberschrift" href="#SetInhalt" data-lity v-if="currentVariation.variation.bundleType === 'bundle'" data-toggle="tooltip" title="Dieser Artikel besteht aus mehreren Produkten">Set Inhalt</a>

                        <div id="SetInhalt" style="background:#fff" class="lity-hide">
                          <item-bundle :bundle-type="currentVariation.variation.bundleType" :bundle-components="currentVariation.bundleComponents"></item-bundle>
                        </div>
                        -->
                        <item-bundle :bundle-type="currentVariation.variation.bundleType" :bundle-components="currentVariation.bundleComponents"></item-bundle>
                    <!-- /Item Bundle -->

                    <slot name="BeforePrice"></slot>

                    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
                        <order-property-list></order-property-list>
                    </div>

                    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

                    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
                        <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.price.value > 0 && currentVariation.prices.rrp.price.value > currentVariation.prices.default.price.value">
                            <del class="text-muted small">
                                ${ currentVariation.prices.rrp.price.formatted }
                            </del>
                        </div>
                    {% endif %}

                    <span class="price h1">
                        <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                            ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                        </span>

                        <span :content="currentVariation.prices.default.currency"></span>

                        <div class="vat small text-muted mehrwertsteuer">
                          {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} {{ trans("Ceres::Template.singleItemExclusive") }}
                            <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>

                        </div>

                        <span v-if="currentVariation.variation.availability" :class="'availability tag availability_' + currentVariation.variation.availability.id">
                                <div class="verfuegbarkeit">
                                    ${ currentVariation.variation.availability.names.name }
                                </div>
                            </span>


                    </span>



                    <div class="base-price text-muted m-y-1" v-if="currentVariation.unit">
                        <div>
                            {{ trans("Ceres::Template.singleItemContent") }}
                            <span>${ currentVariation.unit.content | numberFormat }</span>
                            <span>${ currentVariation.unit.names.name }</span>
                        </div>
                        <div v-if="currentVariation.variation.mayShowUnitPrice">
                            {{ trans("Ceres::Template.singleItemUnitPrice") }}
                            <span class="base-price-value">
                                ${ variationGraduatedPrice.basePrice }
                            </span>
                        </div>
                    </div>

                    <slot name="AfterPrice"></slot>



                    <div class="row m-y-1">
                        <slot name="BeforeAddToBasket"></slot>
                        {{ AddToBasket.printVueComponent(
                            "currentVariation",
                            false,
                            true,
                            {
                                ":missing-order-properties":"variationMissingProperties",
                                ":is-variation-selected": "isVariationSelected && currentVariation.filter.isSalable"
                            }
                        ) }}
                        <slot name="AfterAddToBasket"></slot>
                    </div>

                    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <div class="row">
                            <add-to-wish-list :variation-id="currentVariation.variation.id"></add-to-wish-list>
                        </div>
                    {% endif %}
                <!-- ./ITEM DETAIL -->

                    <slot name="AdditionalContentAfterAddToBasket"></slot>

                    <hr>


                    <div class="iconsSingleItem">


                      <div class="gruppeIcons">

                          <h4>Dieser Artikel passt zu diesen Booten</h4>

                          <a href="#SchlauchbootIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 11">
                              <span v-if="property.selection.name == 'Schlauchboot'">
                                <img src="https://www.lotu.de/images/gallery/icons/schlauchboot.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/schlauchboot1.png">
                              </span>
                          </span></a>

                            <div id="SchlauchbootIcon" class="lity-hide">
                              <p class="iconsBeschreibung">Zum Icon <b>Schlauchboot</b> zählen auch aufblasbare Kajaks, Panton-Boote oder Festrumpfboote genannt RIBs.
                                  Die Bootshaut besteht am häufigsten aus PVC gefolgt von Hypalon oder Gummotex (Nitrilon).
                                  Bootshaut aus Cordura zählt nicht zu dieser Kategorie, da hier nichts auf die Bootshaut aufgeklebt werden kann.
                                  Die besten Befestigungsplätze für das Zubehör an dem Schlauchboot ist die Bootshaut, die Sitzbretter und der Heckspiegel.
                              </p>
                            </div>

                          <a href="#AluminiumIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 15">
                              <span v-if="property.selection.name == 'Aluminium Boot'">
                                <img src="https://www.lotu.de/images/gallery/icons/aluminium.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/aluminium1.png">
                              </span>
                          </span></a>

                          <div id="AluminiumIcon" class="lity-hide">
                            <p class="iconsBeschreibung">Unter dem Icon <b>Aluminium Boot</b> sind Boote unter 8 Metern zu verstehen,
                            die aus hartem Material wie Aluminium oder Gfk hergestellt wurden und über keine Reling (Außengeländer mit Rundrohren) besitzen.
                            Boote mit Reling oder über 8 Meter gehören in die Icon Kategorie Yacht.
                            Am meisten werden Zubehör Artikel an den bereits ab Werk vorhandenen Seitenprofile im inneren des Bootes genutzt, indem man die Halterung rein schieben und festklemmen kann.
                            Alternativ wird in die Oberfläche gebohrt um das Zubehör dort mit Schrauben zu fixieren. </p>
                          </div>

                          <a href="#KajakIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 12">
                              <span v-if="property.selection.name == 'Kajak'">
                                <img src="https://www.lotu.de/images/gallery/icons/kajak.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/kajak1.png">
                              </span>
                          </span></a>

                          <div id="KajakIcon" class="lity-hide">
                            <p class="iconsBeschreibung"><b>Kajaks</b> oder Kanus bestehen meist aus Gfk und sind schmale Boote, die häufig nur von einer Person befahren werden.
                            Viele Hersteller haben vom Werk aus Schienen Systeme verbaut Namens C-Shape, in der sich diverse Halterungen festklemmen lassen.
                            Der Vorteil an dem Festklemmen ist die beschädigungsfreie Montage ohne zu bohren. Dadurch kann die Halterung spurlos wieder entfernt werden.
                            Einige Kajaks besitzen quadratische Aussparungen, die der Norm der Scotty Halterungen entsprechen.
                            Auch Fasten hat speziell für diese Aussparungen Halterungen entwickelt und eignen sich somit ideal für Kajaks mit genau diesen Aussparungen.
                            Wer weder C-Shape noch Scotty Aussparungen hat, kann die Halterungen auch in die Oberfläche bohren und mit Gegenmutter die Halterung am Kajak befestigen. </p>
                          </div>

                          <a href="#BellyBoot" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 17">
                              <span v-if="property.selection.name == 'Belly Boot'">
                                <img src="https://www.lotu.de/images/gallery/icons/belly.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/belly1.png">
                              </span>
                          </span></a>

                          <div id="BellyBoot" class="lity-hide">
                          <p class="iconsBeschreibung"><b>Bellyboote</b> sind aufblasbare und U-förmige 1 Mann Boote. In das Boot kann man sich reinsetzen, wobei sich die Füße dann im Wasser befinden.
                          Der Antrieb erfolgt mit Schwimmflossen an den Füßen. Durch die fehlende Ablagemöglichkeit haben BellyBoote den größten Bedarf an Halterungssystemen.
                          Beim Bellyboot gibt es zwei Befestigungsplätze: das Aufkleben auf die Bootshaut und/oder das Festklemmen an die Aluminiumstange, die sich vor dem Fahrer befindet.
                          Achtung nicht jedes Bellyboot besitzt eine vordere Stange. Zu dieser Kategorie gehören nur BellyBoote, deren Bootshaut aus PVC besteht.
                          Es gibt auch vereinzelnd Boote aus Cordura, diese sind zum Verkleben ungeeignet und gehören deshalb nicht in diese Icon Kategorie.</p>
                          </div>

                          <a href="#YachtBoot" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 16">
                              <span v-if="property.selection.name == 'Yacht'">
                                <img src="https://www.lotu.de/images/gallery/icons/yacht.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/yacht1.png">
                              </span>
                          </span></a>

                          <div id="YachtBoot" class="lity-hide">
                            <p class="iconsBeschreibung">Mit dem Icon <b>Yacht</b> sind große Boote über 8 Meter gemeint, die über eine Reling (Außengeländer mit Rundrohren), Deck und eine Kajüte besitzen.
                            Der beste Befestigungsplatz für Halterungen ist die Reling. Da man ungerne an seiner Yacht Löcher bohrt oder etwas fest verklebt, sind auch Halterungen mit dem Doppelkleber von 3M beliebt.
                            Hier werden die Halterungen auf dem Deck oder in der Kajüte verklebt. Der Doppelkleber ist spurlos wieder entfernbar.</p>
                          </div>

                          <a href="#SupBoot" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 14">
                              <span v-if="property.selection.name == 'Sup'">
                                <img src="https://www.lotu.de/images/gallery/icons/sup.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/sup1.png">
                              </span>
                          </span></a>

                          <div id="SupBoot" class="lity-hide">
                            <p class="iconsBeschreibung"><b>Subs</b> sind aufblasbare Stand Up Paddel Bords (Surfbretter), auf denen man sich hinstellt und paddelt.
                            Da sie mit Hochdruck aufgepumpt werden können, entsteht ein flaches und steifes Brett.
                            Die einzige Möglichkeit an einem Sup diverses Zubehör zu montieren ist das Aufkleben.
                            Da die Bootshaut meistens aus PVC besteht, eignet sich der Bengar PVC Kleber (Artikelnummer: MK-04) aus unserem Katalog bestens zum Aufkleben einer Halterung auf dem Sub.</p>
                          </div>

                      </div>

                      <div class="gruppeIcons">
                          <h4>Wie wird dieser Artikel montiert?</h4>

                          <a href="#SchraubenIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 8">
                              <span v-if="property.selection.name == 'Schrauben'">
                                <img src="https://www.lotu.de/images/gallery/icons/schrauben.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/schrauben1.png">
                              </span>
                          </span></a>

                          <div id="SchraubenIcon" class="lity-hide">
                            <p class="iconsBeschreibung"><b>Schrauben</b> bedeutet das feste Anbringen der Halterung mittels Schrauben. In dem Paket der Halterungen sind meistens selbstziehende Holzschrauben und normale Schrauben mit Muttern enthalten.
                            Für Holzoberflächen werden die selbstziehenden Holzschrauben benutzt. Für Oberflächen, wie bei Aluminium oder GFK Booten werden die normalen Schrauben mit den Muttern benutzt.
                            Hierbei muss vorher ein Loch in die Oberfläche gebohrt werden. Im nächsten Schritt wird die Schraube in das Loch hineingesteckt und am unteren Ende mit der Mutter befestigt. </p>
                          </div>

                          <a href="#KlebenIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 7">
                              <span v-if="property.selection.name == 'Kleben'">
                                <img src="https://www.lotu.de/images/gallery/icons/kleben.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/kleben1.png">
                              </span>
                          </span></a>

                          <div id="KlebenIcon" class="lity-hide">
                            <p class="iconsBeschreibung">Unter <b>Kleben</b> versteht man das Aufkleben einer Halterung. Hierbei wird ein Kleber benötigt. Die Art des Klebers ist abhängig vom Material der Halterung und der Oberfläche der Bootshaut.
                            Das Aufkleben wird am meisten bei aufblasbaren Booten angewandt. Wenn die Bootshaut aus PVC ist, empfehlen wir den Bengar Kleber (Artikelnummer MK-04) und eine Halterung mit einer [PVC Basis].
                            Bei hochwertigen meist größeren Rib Schlauchbooten wird manchmal auch Hypalon (ORCA) verwendet. Hierbei muss dann entsprechend ein Hypalon Kleber und eine Halterung mit [EPDM Basis] verwendet werden.
                            Bei Nitrilon (synthetischer Kautschuk) Bootshäute muss der entsprechende Kleber und ein Halterung mit [PE Basis] verwendet werden.
                            Es ist auch möglich Zubehör aus PVC [PVC Basis] auf eine Hypalon oder Nitrilon Bootshaut zu kleben.
                            Für das Zubehör verwendet man den PVC Kleber und für die Bootshaut den entsprechenden Hypalon oder Nitrilon Kleber und verbindet beides.
                            Es gibt auch Halterungen, die einen Doppelkleber von 3M VHB besitzen. Diese sind dann aber nicht für Bootshäute gedacht. Sie kleben am besten auf harte glatte Oberflächen wie Holz oder Aluminium.</p>
                          </div>

                          <a href="#KlemmenIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 9">
                              <span v-if="property.selection.name == 'Klemmen'">
                                <img src="https://www.lotu.de/images/gallery/icons/klemmen.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/klemmen1.png">
                              </span>
                          </span></a>

                          <div id="KlemmenIcon" class="lity-hide">
                            <p class="iconsBeschreibung"><b>Klemmen</b> hat den großen Vorteil, dass man die Halterung wieder spurlos entfernen kann.
                              Bei Kajak Booten oder Aluminium Booten befinden sich oft Schienensysteme (C-Shape oder FeelFree-Profil genannt).
                              In diese wird die Halterung reingeschoben und mittels Handschraube festgeklemmt.
                              Für Boote, ohne Schienensysteme gibt es auch Halterungen mit einer Schraubzwinge, die am Heckspiegel oder auf die Sitze angebracht werden.
                              Fasten hat auch eine Halterung mit einem Befestigungsclip (Artikelnummer: FMc), die sehr universell an verschiedenen Gegenständen auf dem Boot festgeklemmt werden kann. </p>
                          </div>

                          <a href="#keineMontageIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 10">
                              <span v-if="property.selection.name == 'Keine Montage notwendig'">
                                <img src="https://www.lotu.de/images/gallery/icons/nomount.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/nomount1.png">
                              </span>
                          </span></a>

                          <div id="keineMontageIcon" class="lity-hide">
                            <p class="iconsBeschreibung"><b>Ohne Montage</b> bedeutet, dass der Artikel nicht montiert werden muss. Dies sind meistens Zubehör Artikel, die nichts mit dem Sternsystem zu tun haben.
                            Das Sternsystem bedeutet eine Halterung mit sternförmiger Öffnung und einem Zubehör mit dem passendem Sternadapter zum Hineinstecken.</p>
                          </div>


                      </div>

                        <div class="gruppeIcons">
                          <h4>Ein komplettes System besteht aus Halterung + Zubehör</h4>

                          <a href="#HalterungIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 18">
                              <span v-if="property.selection.name == 'Halterung'">
                                <img src="https://www.lotu.de/images/gallery/icons/halterung.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/halterung1.png">
                              </span>
                          </span></a>

                          <div id="HalterungIcon" class="lity-hide">
                            <p class="iconsBeschreibung">Eine <b>Halterung</b> wird auf dem Boot fest angebracht um diverses Zubehör darin zu befestigen.
                            Jede Halterung hat eine sternförmige Öffnung (Grundschloss), worin man den Sternadapter des Zubehörs hineinsteckt und verriegelt.
                            Ein komplettes System besteht immer aus einer Halterung und einem Zubehör.</p>
                          </div>

                          <a href="#ZubehoerIcon" data-lity>
                          <span class="iconsImages" v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 19">
                              <span v-if="property.selection.name == 'Zubehör'">
                                <img src="https://www.lotu.de/images/gallery/icons/zubehoer.png">
                              </span>
                              <span v-else-if="property.selection.name == null" class="opacityIcons">
                                <img src="https://www.lotu.de/images/gallery/icons/zubehoer1.png">
                              </span>
                          </span></a>

                          <div id="ZubehoerIcon" class="lity-hide">
                            <p class="iconsBeschreibung">Zu einem <b>Zubehör</b> gehört auch immer eine Halterung.
                            Ohne eine Halterung kann das Zubehör nicht verwendet werden.
                            Ein Zubehör ist immer an seinem Sternadapter zu erkennen, welches in eine Halterung eingesteckt werden muss, damit es auf dem Boot hält.</p>
                          </div>


                        </div>
                    </div>
                    <slot name="AdditionalContentAfterVAT"></slot>

                </div>

                <!-- ITEM DESCRIPTION -->
                <div class="col-md-12 m-y-3">
                    <ul class="nav nav-tabs" role="tablist">
                        {% if 'item.description' in itemData or 'all' in itemData %}
                            <li class="nav-item" v-if="isDescriptionTabActive">
                                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemDescription") }}</a>
                            </li>
                        {% endif %}

                        {% if 'item.technical_data' in itemData or 'all' in itemData %}
                            <li class="nav-item" v-if="isTechnicalDataTabActive">
                                <a :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" :href="'#data-' + currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemTechnicalData") }}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" href="#assessments-details" role="tab">{{ trans("Ceres::Template.singleItemMoreDetails") }}</a>
                        </li>

                        <slot name="AddDetailTabs"></slot>
                    </ul>

                    <div class="tab-content">
                        {% if 'item.description' in itemData or 'all' in itemData %}
                            <div class="tab-pane active" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                              <div class="m-y-2" v-html="currentVariation.texts.description">
                              </div>
                            </div>
                         {% endif %}

                        {% if 'item.technical_data' in itemData or 'all' in itemData %}
                            <div :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="tab-pane" :id="'data-' + currentVariation.variation.id" role="tabpanel" v-if="isTechnicalDataTabActive">
                                <div class="m-y-2" v-html="currentVariation.texts.technicalData">
                                </div>
                            </div>
                        {% endif %}

                        <div :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="tab-pane" id="assessments-details" role="tabpanel">
                            <div class="m-y-2">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody>
                                    {% if 'item.id' in itemData or 'all' in itemData %}
                                        <tr>
                                            <td>{{ trans("Ceres::Template.singleItemId") }}</td>
                                            <td>${ currentVariation.item.id }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.condition' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.item.condition && currentVariation.item.condition.names.name !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemCondition") }}</td>
                                            <td>${ currentVariation.item.condition.names.name }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.age_rating' in itemData or 'all' in itemData %}
                                        <tr>
                                            <td>{{ trans("Ceres::Template.singleItemAge") }}</td>
                                            <td>{{ trans("Ceres::Template.singleItemFSK", {"age": item.documents[0].data.item.ageRestriction }) }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.external_id' in itemData or 'all' in itemData) %}
                                        <tr v-if="currentVariation.variation.externalId !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemExternalVariationId") }}</td>
                                            <td>${ currentVariation.variation.externalId }</td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.variation_model' in itemData or 'all' in itemData) %}
                                        <tr v-if="currentVariation.variation.model !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemModel") }}</td>
                                            <td>${ currentVariation.variation.model }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.manufacturer' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.filter.hasManufacturer && currentVariation.item.manufacturer.externalName !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemManufacturer") }}</td>
                                            <td>${ currentVariation.item.manufacturer.externalName }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.producerCountry' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.item.producingCountry && currentVariation.item.producingCountry.names.name !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemManufacturingCountry") }}</td>
                                            <td>${ currentVariation.item.producingCountry.names.name }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.variationBase_content' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.unit">
                                            <td>{{ trans("Ceres::Template.singleItemContent") }}</td>
                                            <td>${ currentVariation.unit.content } ${ currentVariation.unit.names.name }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.weightG' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.variation.weightG !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemWeight") }}</td>
                                            <td>${ currentVariation.variation.weightG } g</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.weightNetG' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.variation.weightNetG !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemNetWeight") }}</td>
                                            <td>${ currentVariation.variation.weightNetG } g</td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.variation_dimensions' in itemData or 'all' in itemData) %}
                                        <tr>
                                            <td>{{ trans("Ceres::Template.singleItemDimensions") }}</td>
                                            <td>
                                                <span>${ currentVariation.variation.lengthMM }</span>&times;<!--
                                                --><span>${ currentVariation.variation.widthMM }</span>&times;<!--
                                                --><span>${ currentVariation.variation.heightMM }</span> mm
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.customs_tariff_number' in itemData or 'all' in itemData) %}
                                        <tr v-if="currentVariation.item.customsTariffNumber !== ''">
                                            <td>{{ trans("Ceres::Template.singleItemCustomsTariffNumber") }}</td>
                                            <td>${ currentVariation.item.customsTariffNumber }</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <slot name="AddDetailTabsContent"></slot>
                    </div>
                </div>
            </div>
            <!-- ./ITEM DESCRIPTION -->

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
</script>
